---
import { Button } from 'astro-pure/user'
import PageLayout from '@/layouts/BaseLayout.astro'
import vortex from "./../../../public/icons/vortex.svg?raw"; 

export { getStaticPaths } from '../../utils/autoStaticPaths.ts';

const meta = {
  description: 'Not found',
  title: '404'
}

const lang: MyBilingualLang = (Astro.params?.lang as MyBilingualLang) || 'en';

const content = {
  en: {
    mainMessage: "Oops, you've encountered a black hole.",
    subMessage: "Sorry, we couldn't find your page."
  },
  es: {
    mainMessage: "¡Ups! encontraste un agujero negro.",
    subMessage: "Perdón, no existe la página que buscas." 
  }
}[lang];

---

<PageLayout {meta} lang={lang}>
  <div class='px-4 py-10 text-center sm:px-6 lg:px-8'>
    <div>
      <Fragment style="margin: auto;" set:html={vortex} />
    </div>
    <h2 class='block text-5xl font-bold sm:text-7xl'>404</h2>
    <p class='mt-3 text-muted-foreground'>{content.mainMessage}</p>
    <p class='text-lg'>{content.subMessage}</p>
    <Button title={{ es: 'Ir al inicio', en: 'Back to home'}[lang]} href=`/${lang}/blog` style='back mt-4' class="mt-4"/>
  </div>
</PageLayout>
