---

import PageLayout from '@/layouts/BaseLayout.astro'
import Section from '@/components/home/Section.astro'
import { PostPreview } from '../../../packages/pure/components/pages'
import { Button } from 'astro-pure/user'
import { getBlogCollection, sortMDByDate } from 'astro-pure/server'
import maze from "../../../public/icons/ww-maze.svg?raw"; 
import { connect } from 'http2'

export { getStaticPaths } from '@/utils/autoStaticPaths';

const lang: MyBilingualLang = Astro.params?.lang || 'en';

const MAX_POSTS = 10
const allPosts = await getBlogCollection(`blog_${lang}`)
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS)

const multiligualContent = {
  en: { 
    home: 'Home',
    title: 'Empowering communities and visionary organizations with people-centered digital solutions.', 
    description: "I'm driven by the transformative potential of knowledge to reshape our lives and our world. Over the past decade, I've been contributing to the development of platforms—from helping shape ideas to measuring their impact—engaging with every phase of the software lifecycle. I think that, in the midst of the AI revolution, it's more important than ever that we shape the future collectively. While large tech companies may have the resources to make pivotal decisions, we must champion a balance between open-source initiatives and fair, inclusive regulations to ensure disruptive technology benefits everyone equitably. The foundation we set today will determine whether our intelligent systems rule or serve society tomorrow.",
    about: 'About',
    posts: 'Posts',
    button_more_about: 'Know more',
    button_posts: 'All posts'
  },
  es: {
    home: 'Inicio',
    title: 'Potenciando comunidades y organizaciones visionarias con soluciones digitales centradas en las personas.', 
    description: 'Me motiva la capacidad transformadora del conocimiento para cambiar nuestras vidas y nuestro mundo. Durante la última década, he contribuido al desarrollo de plataformas, desde ayudar a dar forma a las ideas hasta medir su impacto, participando en todas las fases del ciclo de vida del software. Creo que, en plena revolución de la IA, es más importante que nunca forjar el futuro colectivamente. Aunque las grandes empresas tecnológicas pueden tener los recursos para tomar decisiones cruciales, debemos defender un equilibrio entre las iniciativas de código abierto y las normativas justas e inclusivas para garantizar que la tecnología disruptiva beneficie a todos de forma equitativa. Los cimientos que establezcamos hoy determinarán si nuestros sistemas inteligentes gobernarán o servirán mañana a la sociedad.',
    about: 'Sobre mí',
    posts: 'Publicaciones',
    button_more_about: 'Saber más',
    button_posts: 'Todas las publicaciones'
  }
};

const content = multiligualContent[lang];
---

<PageLayout meta={{ title: content.home }} highlightColor='#659EB966' lang={lang}>
  <div class='flex w-full flex-col gap-y-10 md:w-4/5 lg:w-5/6 mx-auto'>
    <div>
      <Fragment style="margin: auto;" set:html={maze} />
    </div>
    <section class='animate flex flex-col items-center gap-y-7 mb-9'>

      <div class='flex flex-col items-center gap-y-4'>
        <h1 class='text-3xl font-bold text-center'>{content.title}</h1>
        
      </div>
    </section>

    <Section title={content.about}>
      <p class='text-muted-foreground'>
        {content.description}
      </p>
      <Button title={content.button_more_about} class='w-fit self-end' href=`/${lang}/about` style='ahead' />
    </Section>
    {
      allPostsByDate.length > 0 && (
        <Section title={content.posts}>
          <ul class='flex flex-col gap-y-1.5 sm:gap-y-2'>
            {allPostsByDate.map((p) => (
              <li class='flex flex-col gap-x-2 sm:flex-row'>
                {/* @ts-ignore */}
                <PostPreview post={p} />
              </li>
            ))}
          </ul>
          <Button title={content.button_posts} class='w-fit self-end' href=`/${lang}/blog` style='ahead' />
        </Section>
      )
    }

  </div>
</PageLayout>
