---

import PageLayout from '@/layouts/BaseLayout.astro'
import Section from '@/components/home/Section.astro'
import { PostPreview } from '../../../packages/pure/components/pages'
import { Button } from 'astro-pure/user'
import { getBlogCollection, sortMDByDate } from 'astro-pure/server'
import maze from "../../../public/icons/ww-maze.svg?raw"; 

export { getStaticPaths } from '@/utils/autoStaticPaths';

const lang: MyBilingualLang = Astro.params?.lang || 'en';

const MAX_POSTS = 10
const allPosts = await getBlogCollection(`blog_${lang}`)
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS)

const multiligualContent = {
  en: { 
    title: 'Empowering visionary organizations with people-centered digital solutions.', 
    description: 'I am an Informatics Engineer with over 9 years of experience building systems that empower individuals and teams to achieve more with less. I am extremely grateful for the opportunities I have had to work on meaningful projects and collaborate with amazing people who strive to make a difference in the world. Software has always been my first passion, both as a discipline and an art. Over the years, this passion led me to discover my love for project management and align my personal philosophy and principles with the goals of social development.',
    about: 'About',
    posts: 'Posts',
    button_more_about: 'Know more',
    button_posts: 'All posts'
  },
  es: { 
    title: 'Potenciando organizaciones visionarias con soluciones digitales centradas en las personas.', 
    description: 'Soy Ingeniero en Informática con más de 9 años de experiencia construyendo sistemas que empoderan a individuos y equipos para lograr más con menos. Estoy extremadamente agradecido por las oportunidades que he tenido de trabajar en proyectos significativos y colaborar con personas increíbles que buscan marcar la diferencia en el mundo. El software siempre ha sido mi primera pasión, tanto como disciplina como arte. Con el tiempo, esta pasión me llevó a descubrir mi amor por la gestión de proyectos y a alinear mi filosofía de vida y mis principios con los objetivos del desarrollo social.',
    about: 'Sobre mí',
    posts: 'Publicaciones',
    button_more_about: 'Saber más',
    button_posts: 'Todas las publicaciones'
  }
};

const content = multiligualContent[lang];
---

<PageLayout meta={{ title: 'Home' }} highlightColor='#659EB966' lang={lang}>
  <div class='flex w-full flex-col gap-y-10 md:w-4/5 lg:w-5/6 mx-auto'>
    <div>
      <Fragment style="margin: auto;" set:html={maze} />
    </div>
    <section class='animate flex flex-col items-center gap-y-7 mb-9'>

      <div class='flex flex-col items-center gap-y-4'>
        <h1 class='text-3xl font-bold text-center'>{content.title}</h1>
        
      </div>
    </section>

    <Section title={content.about}>
      <p class='text-muted-foreground'>Technical Project Manager</p>
      <p class='text-muted-foreground'>
        {content.description}
      </p>
      <Button title={content.button_more_about} class='w-fit self-end' href=`${lang}/about` style='ahead' />
    </Section>
    {
      allPostsByDate.length > 0 && (
        <Section title={content.posts}>
          <ul class='flex flex-col gap-y-1.5 sm:gap-y-2'>
            {allPostsByDate.map((p) => (
              <li class='flex flex-col gap-x-2 sm:flex-row'>
                {/* @ts-ignore */}
                <PostPreview post={p} />
              </li>
            ))}
          </ul>
          <Button title={content.button_posts} class='w-fit self-end' href=`${lang}/blog` style='ahead' />
        </Section>
      )
    }

  </div>
</PageLayout>
