---
import { Image } from 'astro:assets'
import { Timeline } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import FlipCards from '@/components/about/FlipCards.astro'

import avatar from '@/assets/avatar.svg'

export { getStaticPaths } from '../../../utils/autoStaticPaths.ts';

const lang: MyBilingualLang = (Astro.params?.lang as MyBilingualLang) || 'en';

const content = {
  en: { 
    title: 'About', 
    description: "I’m passionate about knowledge and its power to transform lives. Over the past decade, I have been deeply involved in creating platforms, contributing from the initial idea to validating their impact, and covering every stage of the software lifecycle. While my background is primarily technical, I have also brought together the efforts of multidisciplinary teams to drive successful technological initiatives.",
    me: 'Me',
    corePhilosophies: 'Core Philosophies',
    experience: 'Experience',
    education: 'Education'
  },
  es: { 
    title: 'Acerca de', 
    description: 'Me apasiona el conocimiento y su poder para transformar vidas. Durante la última década, he estado profundamente involucrado en la creación de plataformas, contribuyendo desde la idea inicial hasta la validación de su impacto, y abarcando todas las etapas del ciclo de vida del software. Aunque mi formación es principalmente técnica, también he unido los esfuerzos de equipos multidisciplinarios para impulsar iniciativas tecnológicas exitosas.',
    me: 'Mi',
    corePhilosophies: 'Filosofías centrales',
    experience: 'Experiencia',
    education: 'Educación'
  }
}[lang];

const headings = [
  {
    depth: 2,
    slug: 'me',
    text: content.me
  },
  {
    depth: 2,
    slug: 'core-philosophies',
    text: content.corePhilosophies
  },
  {
    depth: 2,
    slug: 'education',
    text: content.education
  }
]

const cardsContent = {
  en: [
    {
      icon: "🔍",
      label: "Skepticism",
      description: "Doubt as the compass of truth."
    },
    {
      icon: "🍃",
      label: "Taoism",
      description: "The way is unique for everyone, yet the same."
    },
    {
      icon: "🏛️",
      label: "Stoicism",
      description: "Seek character and wisdom on thoughts and actions."
    },
    {
      icon: "📊",
      label: "Dataism",
      description: "Trust data over anything else."
    }],
  es: [
    {
      icon: "🔍",
      label: "Escepticismo",
      description: "La duda como brújula de la verdad."
    },
    {
      icon: "🍃",
      label: "Taoísmo",
      description: "El camino es diferente para cada uno y sin embargo es el mismo."
    },
    {
      icon: "🏛️",
      label: "Estoicismo",
      description: "Buscar el carácter sabio en los pensamientos y las acciones."
    },
    {
      icon: "📊",
      label: "Dataísmo",
      description: "Confiar en los datos sobre cualquier otra cosa."
    }]
}[lang];
---

<PageLayout title={content.title} headings={headings} info='/about' lang={lang}>
  
    <Image
      src={avatar}
      alt='profile'
      class='h-28 w-auto rounded-full border p-1'
      loading='eager'
    />
  <h2 id='me'>{content.me}</h2>
  <p>
    {content.description}
  </p>
  <!-- <Button title='Sponsor Me' class='w-fit' href='/projects#sponsorship' style='ahead' /> -->
  <!-- general-talk -->
  <h2 id='core-philosophies'>{content.corePhilosophies}</h2>
  <FlipCards cardsData={cardsContent} />
  
  <h2 id='education'>{content.education}</h2>
  <Timeline
    events={[

      {
        date: '2020',
        content:
          'Ingeniería Informática - Corporación Universitaria Autónoma de Nariño'
      },
      {
        date: '2015',
        content: 'Tecnología en Computación - Universidad de Nariño'
      }
    ]}
  />
  

</PageLayout>
