---
import { Footer, Header } from '../../packages/pure/components/basic'
import type { SiteMeta } from 'astro-pure/types'
import BaseHead from '@/components/BaseHead.astro'
import logo from "/src/assets/ASLogoInteractiveFull.svg?raw"; 
import LanguageSwitcher from '@/components/layout/LanguageSwitcher.astro';
import LocaleRedirect from '../components/LocaleRedirect.astro';

// Static Lang Generation
export async function getStaticPaths() {
  return [
    { params: { lang: 'en' } },
    { params: { lang: 'es' } }
  ];
}

import config from 'virtual:config'
const lang: MyBilingualLang = (Astro.params?.lang as MyBilingualLang) || 'en';

config.header.menu = {
  es: [
    {
      link: `/${lang}/blog`,
      title: 'Blog.'
    },
    {
      link: `/${lang}/about`,
      title: 'Acerca.'
    },
    {
      link: `/${lang}/contact`,
      title: 'Contacto.' // New link added
    }
  ],
  en: [
    {
      link: `/${lang}/blog`,
      title: 'Blog.'
    },
    {
      link: `/${lang}/about`,
      title: 'About.'
    },
    {
      link: `/${lang}/contact`,
      title: 'Contact.' // New link added
    }
  ]
}[lang];

// Import the global.css file here so that it is included on
// all pages through the use of the <BaseLayout /> component.
import '@/assets/styles/app.css'

interface Props {
  meta: SiteMeta
  highlightColor?: string,
  lang: MyBilingualLang
}

const {
  meta: { articleDate, description = config.description, ogImage, title },
  highlightColor
} = Astro.props
---

<html lang={config.locale.lang}>
  <head>
    <LocaleRedirect />
    <BaseHead {articleDate} {description} {ogImage} {title} />
  </head>

  <body class='flex justify-center bg-background'>
    {
      highlightColor && (
        <div
          id='highlight-gradient'
          class='pointer-events-none absolute start-0 top-0 z-0 h-screen w-full opacity-25'
          style={`background-image:linear-gradient(${highlightColor},transparent)`}
        />
      )
    }
    <div class='w-full max-w-[70rem] px-4 sm:px-7 lg:px-10'>
      <Header>
        <div slot="branding">
          <a
            class='flex-none text-xl font-semibold transition-all duration-300 group-[.not-top]:ms-3 sm:group-[.not-top]:ms-5'
            href={`/${lang}`}
            aria-label='Brand'>
              <Fragment set:html={logo} />
          </a>
        </div>
        <div slot="extra-actions">
          <LanguageSwitcher lang={lang} />
        </div>
      </Header>
      
      <slot />
      <Footer>
        <span slot="copyright">
          <p class=''>🌱 by {config.author} and awesome people.</p>
        </span>
      </Footer>
    </div>

    {/* Set highlight color */}
    <style define:vars={{ highlightColor }}>
      :global(.highlight) {
        color: var(--highlightColor, hsl(var(--primary) / var(--tw-text-opacity))) !important;
      }
      :global(.highlight-bg) {
        background-color: var(
          --highlightColor,
          hsl(var(--primary) / var(--tw-text-opacity))
        ) !important;
      }
    </style>
  </body>
</html>
